[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/farmis/farmer_server/farmis_server
ExecStart=/home/ubuntu/farmis/farmis_server/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          farmis.wsgi:application
[Install]
WantedBy=multi-user.target
